
.table1{
	float:left;
	border:4px #66cdaa solid;
	border-collapse: separate;
	width:400px;
	height:200px;
	margin:10px;
}

.left{
	text-align:right;
}


.clearfix:after {
 	content: "";
 	clear: both;
 	display: block;
 }

 .center{
 	margin: 0 auto;
 	width:1300px;
 }

 .span{
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis; /* Opera9,10‘Î‰ž */
}