@(loginForm: Form[t_syain])

@import helper._

@topDesign("login"){
	<div class="tl_bun">
        <h1>ログインフォーム</h1>

        @if(loginForm.hasGlobalErrors) {
            <p class="error">
                @loginForm.globalError.message
            </p>
        }

        @form(routes.LoginController.authenticate()) {
            @inputText(loginForm("syain_id"), '_label -> "社員ID")
            @inputPassword(loginForm("syain_pass"), '_label -> "パスワード")


            <input type="submit" value="ログイン">
            <input type="reset" value="クリア">

        }



     </div>
}
