@(message: String,syainList : List[t_syain])
@common("社員ID選択"){
	<h1>@message</h1>
	<div class="top">
	<form method="post" action="@routes.HomeController.index()">
		<select name="syain">
 		@if(syainList.isEmpty()) {
	       データは一件もありません
	    } else {
	        @for(syain <- syainList) {
	        <option value="@syain.syain_id">@syain.syain_name</option>

<input type="submit" name="syain_data" value="@syain.syain_id">決定</td>
	        }

	    }
		<input type="submit" value="決定" />
</div>
	}

