@(message: String)(syainList : List[t_syain])
@topDesign("社員ID選択"){
<h1>@message</h1>
			<form method="post" action="@routes.HomeController.syainData()">
			<td class="info">社員名</td>
				<td><select name="syain_id">
	 			@if(syainList.isEmpty()) {
		      	 データは一件もありません
		    	} else {
		        @for(syain <- syainList) {
		        <option value="@syain.syain_id">@syain.syain_name</option>
		        }
		}
				</select></td>
				<button type="submit" name="syain_id" class="btn">選択</button>

			</form>



}
