@import com.avaje.ebean.SqlRow;

@(choiceList: List[SqlRow])
@designCss = {
          <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/choice.css")">
}

@topDesign("感謝カード編集画面",designCss){

	<h1>感謝カード編集画面</h1>
	<div class="wrapper">

	<form method="POST" action=@routes.HomeController.choice_re()>
	<div class="clearfix center">
		@if(choiceList.isEmpty()) {
	       データは一件もありません
	    } else {
	        @for(choice <- choiceList) {
				<table class="table1 table table-condensed table-responsive">
					<tbody>
						<tr>
							<td class="info">送り主：</td>
							<td colspan="2">@choice.getString("sousin")</td>
						</tr>
						<tr>
							<td class="info">作成日：</td>
							<td colspan="2">@choice.getDate("card_date")</td>
						</tr>
						<tr>
							<td class="info">カテゴリ：</td>
							<td colspan="2">@choice.getString("category")</td>
						</tr>
						<tr>
							<td class="info">ヘルプ内容：</td>
							<td colspan="2">@choice.getString("card_help")</td>
						</tr>
						<tr>
							<td class="info">お礼のコメント：</td>
							<td colspan="2">@choice.getString("card_comment")</td>
						</tr>
						<tr>
							<td  colspan="3" class="left size">
								<input type="checkbox" name="chack-card" value="@choice.getInteger("card_id")">事例の選択
								<input type="checkbox" name="del-card" value="@choice.getInteger("card_id")">削除
							</td>
						</tr>
					</tbody>
				</table>
	        }

	    }
	    </div>
 	    <br />
	    	<button type="submit" class="btn">確認</button>
	    </form>
    </div>

}