@(choiceList: List[t_card])

@topDesign("代表的な事例選択画面"){
	<style type="text/css">
	.table1{
		float:left;
		margin: 0 10px 0 0 ;
	}

	.left{
		text-align:right;
	}


		.clearfix:after {
 		content: "";
 		clear: both;
 		display: block;
 	}
	</style>
	<h1>体表的な事例選択画面</h1>
	<div class="wrapper">

	<form method="POST" action=@routes.HomeController.choice_re()>
	<div class="clearfix">
		@if(choiceList.isEmpty()) {
	       データは一件もありません
	    } else {
	        @for(choice <- choiceList) {
				<table class="table1">
					<tbody>
						<tr>
							<td>送り主：</td>
							<td colspan="2">@choice.sousin_id</td>
						</tr>
						<tr>
							<td>日付：</td>
							<td colspan="2">@choice.card_date</td>
						</tr>
						<tr>
							<td>カテゴリ：</td>
							<td colspan="2">@choice.category_id</td>
						</tr>
						<tr>
							<td>ヘルプ内容：</td>
							<td colspan="2">@choice.card_help</td>
						</tr>
						<tr>
							<td>お礼のコメント：</td>
							<td colspan="2">@choice.card_comment</td>
						</tr>
						<tr>
							<td  colspan="3" class="left size"><input type="checkbox" name="chack-card" value="@choice.card_id">事例の選択</td>
							<td  colspan="3" class="left size"><input type="checkbox" name="del-card" value="@choice.card_id">削除</td>
						</tr>
					</tbody>
				</table>
	        }

	    }
	    </div>
 	    <br />
	    	<input type="submit" value="確認">
	    </form>
    </div>

}