@(checkList: ArrayList[t_card])

@topDesign("代表的な事例選択画面"){
	<style type="text/css">
	.table1{
		float:left;
		margin: 0 10px 0 0 ;
	}

	.left{
		text-align:right;
	}


		.clearfix:after {
 		content: "";
 		clear: both;
 		display: block;
 	}
	</style>
	<h1>体表的な事例選択画面</h1>
	<div class="wrapper">
		<form method="POST" action=@routes.HomeController.choice_re_touroku()>
		<div class="clearfix">
		@if(checkList.isEmpty()) {
	       データは一件もありません
	    } else {
	        @for(check <- checkList) {
				<table class="table1">
					<tbody>
						<tr>
							<td>送り主：</td>
							<td colspan="2">@check.sousin_id</td>
						</tr>
						<tr>
							<td>日付：</td>
							<td colspan="2">@check.card_date</td>
						</tr>
						<tr>
							<td>カテゴリ：</td>
							<td colspan="2">@check.category_id</td>
						</tr>
						<tr>
							<td>ヘルプ内容：</td>
							<td colspan="2">@check.card_help</td>
						</tr>
						<tr>
							<td>お礼のコメント：</td>
							<td colspan="2">@check.card_comment</td>
						</tr>
						<tr>
							<td  colspan="3" class="left size"><input type="hidden" name="card-id" value="@check.card_id"/></td>
						</tr>
					</tbody>
				</table>
	        }

	    }
	    </div>
 	    <br />
 	    <br />
 	     <p>これらのカードを選択します。よろしいですか？</p>
 	     <input type="submit" value="はい"><input type="submit" value="いいえ">
 	     </form>
    </div>

}