@import com.avaje.ebean.SqlRow;

@(taskList: List[SqlRow],bumonList : List[t_bumon],kazu: Int,asdf: Int)

@designCss = {
          <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/keiziban.css")">
          <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/choice.css")">
}

@topDesign("感謝カード - 掲示板",designCss){
	<div class="keitop">
		<h1>掲示板</h1>
		<form method="get" action="">
			<p>部別：
				<select name="bumon">
					<option value="">すべて</option>
					@if(bumonList.isEmpty()) {
						<h2>部門はありません</h2>
					} else {
						@for(bumon <- bumonList) {
							<option value="@bumon.bumon_id">@bumon.bumon_name</option>
						}
					}
				</select>
			月別：
				<select name="tuki">
					<option value="サンプル2">選択肢のサンプル2</option>
					<option value="サンプル3">選択肢のサンプル3</option>
				</select>
				<button type="submit" class="btn">表示</button>
			</p>
		</form>
		<form method="get" action="">
			<p>部門別関連度：<button type="submit" class="btn">確認</button></p>
		</form>
		<form method="get" action="@routes.HomeController.daihyou(0)">
			<p>今月の代表例：<button type="submit" class="btn">抽出</button></p>
		</form>
	</div>
	<div class="clearfix center">
		@if(taskList.isEmpty()) {
			<h2>感謝カードは一件もありません</h2>
		} else {
			@for(task <- taskList) {
				<a href="@routes.HomeController.syousai(task.getInteger("card_id"))">
					<table class="table1 table table-condensed table-responsive">
						<tbody>
							<tr>
								<td colspan="2" class="info">@task.getString("jyusin_bumon")</td>
								<td>@task.getString("jyusin")さんへ</td>
							</tr>
							<tr>
								<td colspan="2" class="info">作成日：</td>
								<td>@task.getDate("card_date")</td>
							</tr>
							<tr>
								<td colspan="2" class="info">ヘルプ区分：</td>
								<td>@task.getString("category")</td>
							</tr>
						</tbody>
					</table>
				</a>
			}
		}

	</div>

	<ul class="pageNav01 center">
		<li><a href="@routes.HomeController.keiziban(0)">&laquo; 最初へ</a></li>
		<!-- 全体のページ分のリンク作る -->
		@for(i <- asdf-3 to asdf+3) {
			<!-- 今いるページを表すために -->
			@if(i == asdf){
				<li><span>@i</span></li>
			}else{
			<!-- ページの上限下限制限 -->
				@if( i< 1 || i > kazu){

				}else{
					<li><a href="@routes.HomeController.keiziban(i-1)">@i</a></li>
				}
			}
		}
		<li><a href="@routes.HomeController.keiziban(kazu-1)">最後へ &raquo;</a></li>
	</ul>

}