@import com.avaje.ebean.SqlRow;

@(taskList: List[SqlRow],bumonList : List[t_bumon],kazu: Int)

@topDesign("感謝カード - 掲示板"){
	<div class="keitop">
		<h1>掲示板</h1>
		<form method="get" action="">
			<p>部別：
				<select name="bumon">
					<option value="">すべて</option>
					@if(bumonList.isEmpty()) {
						部門はありません
					} else {
						@for(bumon <- bumonList) {
							<option value="@bumon.bumon_id">@bumon.bumon_name</option>
						}
					}
				</select>
			月別：
				<select name="tuki">
					<option value="サンプル2">選択肢のサンプル2</option>
					<option value="サンプル3">選択肢のサンプル3</option>
				</select>
				<input class="keibota" type="submit" value="表示">
			</p>
		</form>
		<form method="get" action="">
			<p>部門別関連度：<input class="keibota" type="submit" value="表示"></p>
		</form>
		<form method="get" action="@routes.HomeController.daihyou()">
			<p>今月の代表例：<input class="keibota" type="submit" value="抽出"></p>
		</form>
	</div>
	<div class="clearfix">
		@if(taskList.isEmpty()) {
			感謝カードは一件もありません
		} else {
			@for(task <- taskList) {
				<div class="keizi">
					<a href="@routes.HomeController.syousai(task.getInteger("card_id"))">
						<p>@task.getString("jyusin_bumon")　@task.getString("jyusin")さんへ</p>
						<p>作成日：@task.getDate("card_date")</p>
						<p>ヘルプ区分：@task.getString("category")</p>
					</a>
				</div>
			}
		}

	</div>

	<ul class="pageNav01">
		<li><a href="@routes.HomeController.syousai(kazu-1)">&laquo; 前</a></li>
		@for(i <- 1 to kazu) {
			@if(i == kazu){
				<li><span>@i</span></li>
			}else{
				<li><a href="@routes.HomeController.syousai(kazu)">@i</a></li>
			}
		}
		<li><a href="@routes.HomeController.syousai(kazu+1)">次 &raquo;</a></li>
	</ul>

}