@designCss = {
          <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/mypage.css")">
}

@topDesign("マイページ",designCss){



	<div class="menu">
			<a href="@routes.HomeController.jusin()"><button type="button" class="btn btn-primary btn-lg myp_links">受信ボックス</button></a><br>
			<a href="@routes.HomeController.sousin()"><button type="button" class="btn btn-primary btn-lg myp_links">送信ボックス</button></a><br>
			<a href="#"><button type="button" class="btn btn-primary btn-lg myp_links">ひとことメモ</button></a><br>

			@if(session.get("yakusyoku") != "3"){
					<a href="@routes.HomeController.new_touroku()"><button type="button" class="btn btn-primary btn-lg myp_links">社員追加</button></a><br>
					<a href="@routes.HomeController.change()"><button type="button" class="btn btn-primary btn-lg myp_links">社員編集</button></a><br>
					<a href="@routes.HomeController.choice()"><button type="button" class="btn btn-primary btn-lg myp_links">感謝カード編集</button></a><br>
				}


	</div>

	<div class="mypageTop">
	<h2>@session.get("name")さん、ようこそ！</h2><br>
	</div>


}
