@(message: String)
@topDesign("送信ボックス"){

         <h1>@message</h1>


    <div class="top">

             <font>・〇〇〇〇　　　　　　　　　　　　YYYY/MM/DD</font>
             <font>・〇〇〇〇　　　　　　　　　　　　YYYY/MM/DD</font>
             <font>・〇〇〇〇　　　　　　　　　　　　YYYY/MM/DD</font>
             <font>・〇〇〇〇　　　　　　　　　　　　YYYY/MM/DD</font>
         </ul>

         <font> &lt; </font>
                            <A href="#">1</A>
                            <A href="#">2</A>
                            <A href="#">3</A>
                            <A href="#">4</A>
                            <A href="#">5</A>
         <font> &rsaquo; </font>
      </div>
      }