@import com.avaje.ebean.SqlRow;

@(taskList: List[SqlRow])

@designCss = {
          <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/keiziban.css")">
}

@topDesign("感謝カード - 掲示板詳細",designCss){
	<div class="clearfix">
		<div class="syoutop">
			<h1>掲示板詳細</h1>
		</div>
		<div class="syou">
			 <section>
				@if(taskList.isEmpty()) {
						感謝カードがありません
				} else {
					@for(task <- taskList) {
						<article>
							<div class="tl_keizi" style="margin-bottom:20px;">
								<p style="float:left;margin-left:50px;">@task.getString("jyusin_bumon")　@task.getString("jyusin")　さんへ</p>
								<p>　　作成日：　@task.getDate("card_date")</p><br>
								<p>ヘルプ区分：　@task.getString("category")</p>
								<p>ヘルプ内容<div class="sei">@task.getString("card_help")</div></p><br>
								<p style="word-break:break-all;">感謝の言葉<div class="sei">@task.getString("card_comment")</div></div></p><br>
								<p style="float:right;">@task.getString("sousin_bumon")　@task.getString("sousin")　より</p><br>

							</div>
						</article>
					}
				}
			</section>
		</div>
		<a><input type="button" class="modo" onClick="history.go(-1)" value="掲示板へ戻る"></a>
	</div>
}