@(categoryList : List[t_category]) @designCss={
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/thanks_card.css")">
}
@topDesign("感謝カード作成画面",designCss){




	<h1>感謝カード作成画面</h1>
	<form method="post" action="@routes.HomeController.thanks_kakunin()">
		<table class="table table-condensed table-responsive">
			<tbody>
				<tr>
					<td class="info">作成日入力</td>
					<td><input type="Date" name="card_date" value=""required> ※必須入力項目</td>
					<script type="text/javascript">
	<!--
		function ShowLength(str) {
			document.getElementById("inputlength").innerHTML = str.length
					+ "文字";
		}
	// -->
	</script>
				</tr>
				<tr>
					<td class="info">感謝される人の社員ID</td>
					<td><input type="number" name="jyusin_id"value="" required>※必須入力項目</td>
					<script type="text/javascript">
	<!--
		function ShowLength1(str) {
			document.getElementById("inputlength1").innerHTML = str.length
					+ "文字";
		}
	// -->
	</script>
				</tr>
				<tr>
					<td class="info">ヘルプ区分</td>
					<td><select name="category_id">
				@if(categoryList.isEmpty()) { ヘルプ区分は一件もありません } else {
					<option value="-1">選択してください。</option>
					@for(category <- categoryList) {
						<option value="@category.category_id">@category.category_name</option>
					}
				}
			</select></td>
				</tr>
				<tr>
					<td class="info">ヘルプ内容(200文字以内)</td>
					<td><textarea name="card_help" rows="8" cols="93"placeholder="ここにヘルプ内容を記入してください。" maxlength="200"onkeyup="ShowLength(value);" required></textarea>
			<p id="inputlength">0文字</p></td>
				</tr>
				<tr>
					<td class="info">感謝の言葉(200文字以内)</td>
					<td><textarea name="card_comment" rows="8" cols="93"
				placeholder="ここに感謝の言葉を記入してください。" maxlength="200"
				onkeyup="ShowLength1(value);" required></textarea>
			<p id="inputlength1">0文字</p></td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" value="確認" class="btn">
						<input type="reset" value="クリア" class="btn">
					</td>
				</tr>
			</tbody>
		</table>
	</form>
}
