@(categoryList : List[t_category])


@topDesign("感謝カード作成画面"){
<font>感謝カード作成画面</font>　　　　　　　　　　　　　　　　　　　　　　　　　　　　　

 	<br>
 	<br>
 	<br>


<form method="post" action="@routes.HomeController.thanks_kakunin()">
　　　　　　　　　
	<font1>作成日入力　<input  type="Date" name="card_date" value="例 : 2014-05-26" onfocus="if (this.value == '例 : 2014-05-26') { this.value='' }"
	onblur="if (this.value == '') { this.value='例 : 2014-05-26' }" />
	</font1>
	<font1>※必須入力項目</font1>


 	<br>
 	<br>
 	<br>
　
	<font1>感謝される人の社員ID　<input  type="Search" name="jyusin_id" value="Search" onfocus="if (this.value == 'Search') { this.value='' }"
	onblur="if (this.value == '') { this.value='Search' }" />
	</font1>
	<font1>※必須入力項目</font1>

 	<br>
 	<br>
 	<br>
 	<br>
	<font2>ヘルプ内容</font2><br>

 	<textarea name="card_help" rows="8" cols="93" placeholder="ここにヘルプ内容を記入してください。"></textarea>

 	<br>
 	<br>

	<font2>感謝の言葉</font2><br>
 	<textarea name="card_comment" rows="8" cols="93" placeholder="ここに感謝の言葉を記入してください。"></textarea>

 	<br>
 	<br>
 	<br>

 	　　　
	<font1>ヘルプ区分</font1>　　
	<font1>
	<select name="category_id">
		@if(categoryList.isEmpty()) {
			ヘルプ区分は一件もありません
		} else {
			@for(category <- categoryList) {
				<option value="@category.category_id">@category.category_name</option>
			}
		}
	</select>
	</font1>
 	　　　　　　　　　　　　　　　　　　　　　　　　

	<input type="reset" value="　クリア　">　　　　　　　
	<input type="submit" value="　確認　">
 </form>
}