@(title: String,designCss: Html = null)(content: Html)

<!DOCTYPE html>
<html lang="ja">
<head>
	<title>@title</title>
	<meta charset=UTF-8>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
		@designCss
</head>

<body>


<div class="top">

	<div class="topHeader">
		<p class="thanksHead"> 感謝カード </p><br>

		<div class="headlink">

		@if(session.get("login") != null){
			<a href="@routes.MainController.top()"><button type="button" class="btn btn-info btn-lg links">トップ</button></a>
			<a href="@routes.HomeController.thanks_card()"><button type="button" class="btn btn-primary btn-lg links">感謝カード作成</button></a>
			<a href="@routes.HomeController.keiziban(0)"><button type="button" class="btn btn-primary btn-lg links">掲示板</button></a>
			<a href="@routes.MainController.mypage"><button type="button" class="btn btn-primary btn-lg links">マイページ</button></a>
			<a href="@routes.LoginController.logout()"><button type="button" class="btn btn-primary btn-lg links">ログアウト</button></a>
			} else{
			<a href="@routes.MainController.top()"><button type="button" class="btn btn-info btn-lg links">トップ</button></a>
			<a href="@routes.LoginController.index()"><button type="button" class="btn btn-primary btn-lg links">感謝カード作成</button></a>
			<a href="@routes.LoginController.index()"><button type="button" class="btn btn-primary btn-lg links">掲示板</button></a>
			<a href="@routes.LoginController.index()"><button type="button" class="btn btn-primary btn-lg links">マイページ</button></a>
			<a href="@routes.LoginController.index()"><button type="button" class="btn btn-primary btn-lg links">ログイン</button></a>
			}
		</div>
	</div>

<div id="wrapper">
 @content
</div>

	<br>
	<footer>
		<p>© 2016 ~~</p>
	</footer>

</div>

</body>
</html>
