@(message: String)(table: t_syain);
@import helper._
@topDesign("内容確認"){

	<h1>@message</h1>
	<div class="center">
		 @form(routes.HomeController.createData()) {
			<table class="table table-condensed table-responsive table2">
				<tbody>
					<tr>
						<td class="info">社員ID：</td>
						<td>@table.syain_id</td>
						<input type="hidden" name="syain_id" value=@table.syain_id>
					</tr>
					<tr>
						<td class="info">部門ID：</td>
						<td>@table.bumon_id</td>
						<input type="hidden" name="bumon_id" value=@table.bumon_id>
					</tr>
					<tr>
						<td class="info">役職ID：</td>
						<td>@table.yakusyoku_id</td>
						<input type="hidden" name="yakusyoku_id" value=@table.yakusyoku_id>
					</tr>
					<tr>
						<td class="info">社員名：</td>
						<td>@table.syain_name</td>
						<input type="hidden" name="syain_name" value=@table.syain_name>
					</tr>
					<tr>
						<td class="info">フリガナ：</td>
						<td>@table.syain_kana</td>
						<input type="hidden" name="syain_kana" value=@table.syain_kana>
					</tr>
					<tr>
						<td class="info">パスワード：</td>
						<td>@table.syain_pass</td>
						<input type="hidden" name="syain_pass" value=@table.syain_pass>
					</tr>
					<tr>
						<td class="info">性別：</td>
						<td>@table.syain_sex</td>
						<input type="hidden" name="syain_sex" value=@table.syain_sex>
					</tr>
					<tr>
						<td><button type = "submit" value = "追加" class="btn">追加</button></td>
						}
						<td>@form(routes.HomeController.new_touroku()) {
								<button type="submit" value="修正 "class="btn">修正</button>
							}
						</td>
					</tr>
				</tbody>
			</table>

	</div>
}
