@(message: String)(table: t_syain)
@import helper._
@common("内容確認"){

<h1>@message</h1>

<div class="top">

 @form(routes.HomeController.createData()) {


       		<font>社員ID</font>：@table.syain_id
       		<input type="hidden" name="syain_id" value=@table.syain_id><br>

       		<font>部門ID</font>：@table.bumon_id
       		<input type="hidden" name="bumon_id" value=@table.bumon_id><br>

       		<font>役職ID</font>：@table.yakusyoku_id
       		<input type="hidden" name="yakusyoku_id" value=@table.yakusyoku_id><br>

            <font>社員名</font>：@table.syain_name
       		<input type="hidden" name="syain_name" value=@table.syain_name><br>

       		<font>フリガナ</font>：@table.syain_kana
       		<input type="hidden" name="syain_kana" value=@table.syain_kana><br>

            <font>生年月日</font>：@{"%tY%<tm%<td" format table.syain_birth}
       		<input type="hidden" name="syain_birth" value=@{"%tF" format table.syain_birth}><br>

           <font>入社日</font>：@{"%tY%<tm%<td" format table.syain_nyuusyabi}
       		<input type="hidden" name="syain_nyuusyabi" value=@{"%tF" format table.syain_nyuusyabi}><br>


       		<font>パスワード</font>：@table.syain_pass
       		<input type="hidden" name="syain_pass" value=@table.syain_pass><br>

       		<font>性別</font>：@table.syain_sex
       		<input type="hidden" name="syain_sex" value=@table.syain_sex><br>

            <input type = "submit" value = "追加">
  }
  </div>
}
